body {
  overflow: hidden;
}

h1 {
  position: fixed;
  top: 30%;
  z-index: 5;
  font-size: 8rem;
  color: white;
  text-align: center;
  width: 100%;
  animation: color-change 1s infinite;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.visable {
  display: block;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg) rotate3d(0, 0, 1, 0deg);
  }
  100% {
      transform: rotate3d(1, 0, 0, 360deg) rotate3d(0, 1, 0, 360deg) rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes depth {

  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }

  0% { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
}
